force-app/main/default/flows/Update_Duplicates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Duplicates</name>
        <label>Update Duplicates</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>RecordSyncRunController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordSyncRun</name>
            <value>
                <elementReference>RecordSyncRun</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Records_to_Update_Count</name>
        <label>Records to Update Count</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>recordSyncCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_To_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Record_Sync_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Sync_Run</name>
        <label>Set Record Sync Run</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RecordSyncRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Sync_Run</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Duplicates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Duplicates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record_Sync_Run</name>
        <label>Get Record Sync Run</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_to_Update_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Record_Sync_Run__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_To_Update</name>
        <label>Get Records To Update</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Sync_Run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Sync_Run__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Record_Sync__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Duplicates</targetReference>
        </connector>
        <fields>
            <name>update_records_count</name>
            <fieldText
      >&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordSyncCount} records will be updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_To_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordSyncCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecordSyncRun</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Record_Sync_Run__c</objectType>
    </variables>
</Flow>
